<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>peers</th>
      <th>company</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>AS1299</td>
      <td>SE Telia Company AB</td>
    </tr>
    <tr>
      <th>1</th>
      <td>AS3356</td>
      <td>US Level 3 Parent LLC</td>
    </tr>
    <tr>
      <th>2</th>
      <td>AS34984</td>
      <td>TR TELLCOM ILETISIM HIZMETLERI A.S.</td>
    </tr>
    <tr>
      <th>3</th>
      <td>AS44217</td>
      <td>IQ IQ Networks</td>
    </tr>
  </tbody>
</table>